<!doctype html>
<html>
<head>
	<title>Static Page</title>
	<script type="text/ecmascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/ecmascript" src="script.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">

</head>
<body>
<div ng-app="main" class="container">
	<div ng-controller="mainCtrl" class="row">
		<form>
			<div class="form-group">
				<textarea ng-model="queryText" class="form-control queryinput"></textarea>
			</div>
			<button ng-click="onSubmitQuery()" class="btn btn-default">Submit</button>
		</form>
		<div ng-show="launchedQuery !== null">Waiting for response...</div>
		<div ng-show="launchedQuery === null && chartWaiting">Rendering chart...</div>
		<div ng-show="queryResult.name === 'select'" id="chart-div-container">
			<div id="chart-div"></div>
		</div>
		<table ng-if="queryResult.name === 'describe all'" class="table table-striped col-xs-12">
			<tr ng-repeat="row in queryResult.body"><td>{{row}}</td></tr>
		</table>
		<div ng-show="queryResult.success === false" id="error-div">{{(queryResult.message || "").trim()}}</div>
		<div>{{(queryResult || "").trim()}}</div>
	</div>
</div>
</body>
</html>