<!doctype html>
<html>
<head>
  <title>Metrics Query Engine</title>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/ecmascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
  <script src="/static/common.js"></script>
  <script>
  module.controller("newController", function($scope, _launchRequest, _receiveSuccess, _receiveFailure, _chart) {
  	$scope.inputModel = {
  		query: ""
  	};
  	$scope.click = function() {
  		_launchRequest({
  			query: $scope.inputModel.query
  		});
  	}
  	$scope.state = "wait";
  	$scope.message = "";
  	_receiveSuccess(function(name, body, latency) {
  		$scope.state = name;
  		$scope.result = body;
  		if (name == "select") {
  			// Send this data to _chart
  			_chart.sets("select", {
  				data: convertSelectResponse(body).dataTable,
  				chartType: "line",
  				option: {
  					legend: {position: "bottom"},
  					title:  "Title",
  					chartArea: {
  						left: "40px",
  						right: "0px",
  						top: "20px",
  						bottom: "40px",
  					},
  					series: null,
  					vAxes: {
  						0: {title: ""},
  						1: {title: ""}
  					},
  					vAxis: {
  						textPosition: "out",
  						format: "short"
  					},
  					hAxis: {
  						textPosition: "out"
  					}
  				},
  			});
  		}
  	});
  	_receiveFailure(function(message) {
  		$scope.state = "failure";
  		$scope.errorMessage = message;
  	});
  	_chart.addListener("select/waiting", function(value) {
  		if (value.waiting) {
  			$scope.rendered = false;
  		} else {
  			$scope.rendered = true; 
  		}
  	});
  });
  </script>
  <style>
  body {
  	font-family: Arial, sans-serif;
  }
  .chart-container {
  	position: relative;
  	width: 800px;
  	height: 300px;
  }
  .chart-container > * {
  	position: absolute;
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: 100%;
  }
  .error, .warning {
  	padding: 5px;
  	border-radius: 5px;
  	border: 4px solid;
  }
  .error {
  	background: #FFB5B0;
  	border-color: #EFA5A0;
  }
  .warning {
  	background: #D0D5FF;
  	border-color: #C0C5EF;
  }
  </style>
</head>
<body ng-app=main>
	<div ng-controller="newController">
	<textarea ng-model="inputModel.query"></textarea>
	<button ng-click="click()">Click me!</button>
	<div class="error" ng-show="state == 'failure'">{{errorMessage}}</div>
	<div class="warning" ng-show="state == 'select' && !rendered">Chart is rendering...</div>
	<div class="chart-container" ng-show="state == 'select'">
		<google-chart chart-name="select"></google-chart>
	</div>
	<div ng-show=""></div>
	
	</div>
</body>
</html>
