

body {
	font-family: sans-serif;
	padding:30px;
}

textarea {
	width:100%;
}


#chart_div_container {
	position:relative;
	height:0;
	padding-bottom:50%;
}

#chart_div {
	position:absolute;
	border: solid black 2px;
	background:#EEE;
	width:100%;
	height:100%;
}