

body {
  margin-top: 50px;
}

textarea.queryinput {
  font-family: Consolas, monospace;
  min-height: 120px;
  width:100%;
}

.alert-danger {
  white-space: pre;
}

#chart-div {
  position:absolute;
  background:#EEE;
  width:100%;
  height:300px;
}
